!!! 5
html(style='background: rgb(27, 27, 27);')
  head
    title
    meta(charset='utf-8')
    style
      canvas {
        margin-right: 10px;
      }
  body
    canvas#pole0(width='500px', height='400px')
    canvas#pole1(width='500px', height='400px')
    canvas#pole2(width='500px', height='400px')
    canvas#pole3(width='500px', height='400px')
    canvas#pole4(width='500px', height='400px')
    canvas#pole5(width='500px', height='400px')
    script(src='animator.js')
